.property{
  max-width: 100%;
}

/****************************************************************************/

.property-group {
  position: relative;
}

.property-group__top-line{
  margin-top: 1.2em;
}

.property-group__top-line-row{
  display: none;
}

.property-group__top-line .property-group__top-line-row {
  border-top: 1px solid rgb(216, 216, 216);
  padding-top: 1em;
  display: block;
}

.property-group:first-child .property-group__top-line .property-group__top-line-row{
  border-top: none;
}

.property-group__title {
  top: -0.9em;
  position: absolute;
  background-color: white;
  padding: 3pt;
  /*font-size: 1.6em;*/
  margin: 0 0 0 -3px;
}

/****************************************************************************/

.property .text-muted{
  color: #2b2b2b !important;
}

.form-group.required .form-control-label:after,
.form-check.required .form-check-label:after{
  content:"*";
  color:#b90000;
  margin-left: 2px;
}

.display-none{
  display: none!important;
}

.form-check.property {
  margin-bottom: 0.5rem;
}

label.property-input {
  margin-bottom: 0;
}

/*
When required is defined in a form field, Firefox 4 automatically shows a red border to this element,
even BEFORE the user hits the submit button.
*/
input:required, textarea:required {
  box-shadow: none;
}

/****************************************************************************/

.vertical-input .col-form-label-sm,
.vertical-input .col-form-label-lg{
  margin-bottom: 0;
}

.vertical-input--sm .form-group {
  margin-bottom: 0.4rem;
}

.vertical-input--sm .form-check.property{
  margin-bottom: 0.3rem;
}
.vertical-input--sm .form-check-input {
  margin-top: 0.55rem;
}
.vertical-input--lg .form-check-input {
  margin-top: 1.1rem;
}

/****************************************************************************/
.property .invalid-feedback,
.property .valid-feedback {
  display: block;
}

/****************************************************************************/

.Select.is-disabled > .Select-control {
  background-color: #eaedf0;
}
.Select .Select-control{
  transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  border-color: #ced4da;
}
.Select--multi.is-disabled .Select-value {
  border-color: #d5d8dc;
}
.Select.has-value.Select--single > .Select-control .Select-value .Select-value-label, .Select.has-value.is-pseudo-focused.Select--single > .Select-control .Select-value .Select-value-label {
  color: #495057;
}
.Select.is-focused:not(.is-open) > .Select-control {
  border-color: #80bdff;
  box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

/****************************************************************************/

.Select-placeholder,
.Select--single > .Select-control .Select-value,
.Select-input > input{
  line-height: 36px;
}
.Select-control,
.Select-input{
  height: 36px;
}
.Select-input > input{
  padding: 0;
}

.Select--sm .Select-placeholder,
.Select--sm .Select--single > .Select-control .Select-value,
.Select--sm .Select-input > input{
  line-height: 29px;
}
.Select--sm .Select-control,
.Select--sm .Select-input{
  border-radius: 0.2rem;
  height: 29px;
}
.Select--sm .Select-control,
.Select--sm .Select-input,
.Select--sm .Select-clear,
.Select--sm .Select-option {
  font-size: 0.875rem;
}
.Select--sm .Select-option {
  padding: 4px 10px;
}
.Select--sm .Select--multi .Select-value {
  margin-top: 3px;
}

.Select--lg .Select-placeholder,
.Select--lg .Select--single > .Select-control .Select-value,
.Select--lg .Select-input > input{
  line-height: 46px;
}
.Select--lg .Select-control,
.Select--lg .Select-input{
  border-radius: 0.3rem;
  height: 46px;
}
.Select--lg .Select-control,
.Select--lg .Select-input,
.Select--lg .Select-clear,
.Select--lg .Select-option {
  font-size: 1.25rem;
}
.Select--lg .Select--multi .Select-value {
  margin-top: 7px;
}

.form-control-file {
  border-radius: .25rem;
  padding: 3px 12px 3px 3px;
  border: 1px solid #ced4da;
}

.form-control-file:disabled, .form-control-file[readonly] {
  background-color: #e9ecef;
  opacity: 1;
}

/****************************************************************************/

.was-validated .required .Select:not(.is-disabled) .Select-control:focus,
.is-invalid .Select.is-focused:not(.is-open) > .Select-control,
.was-validated .required .Select.is-focused:not(.is-open) > .Select-control,
.is-invalid .Select .Select-control:focus,
.was-validated .form-control-file:invalid:focus{
  border-color: #dc3545;
  box-shadow: 0 0 0 0.2rem rgba(220,53,69,.25);
}

.was-validated .required .Select:not(.is-disabled) .Select-control,
.is-invalid .Select .Select-control,
.was-validated .form-control-file:invalid{
  border-color: #dc3545;
}

.was-validated .required .Select.has-value:not(.is-disabled) .Select-control:focus,
.is-valid .Select.is-focused:not(.is-open) > .Select-control,
.was-validated .Select.has-value.is-focused:not(.is-open) > .Select-control,
.is-valid .Select .Select-control:focus,
.was-validated .form-control-file:valid:focus{
  border-color: #28a745;
  box-shadow: 0 0 0 0.2rem rgba(40,167,69,.25);
}

.was-validated .required .Select.has-value:not(.is-disabled) .Select-control,
.is-valid .Select .Select-control,
.was-validated .form-control-file:valid{
  border-color: #28a745;
}