.property-group {
  margin-top: 1.2em;
  position: relative;
}

.property-group__line {
  border-top: 1px solid rgb(216, 216, 216);
  padding-top: 1em;
}

.property-group:first-child .property-group__line{
  border-top: none;
}

.property-group__title {
  top: -0.9em;
  position: absolute;
  background-color: white;
  padding: 3pt;
  /*font-size: 1.6em;*/
  margin: 0 0 0 -3px;
}

.form-control-feedback {
  display: block;
}

.form-control-feedback{
  color: #2b2b2b;
}

.has-error .form-control-feedback,
.has-error .form-check-label,
.has-error .form-control-label{
  color: #b90000;
}

.has-error input{
  border-color: #dc3545;
}

.has-success .form-control-feedback,
.has-success .form-check-label,
.has-success .form-control-label{
  color: #28a745;
}

.has-success input{
  border-color: #28a745;
}

.form-group.required .form-control-label:after,
.form-check.required .form-check-label:after{
  content:"*";
  color:#b90000;
  margin-left: 2px;
}

.property-label .form-control-label {
  margin: 0;
}

.display-none{
  display: none;
}

.form-check.property {
  margin-bottom: 0.5rem;
}

/*
When required is defined in a form field, Firefox 4 automatically shows a red border to this element,
even BEFORE the user hits the submit button.
*/
input:required {
  box-shadow: none;
}

/*.form-group.required .form-control-label,
.form-check.required .form-check-label{
  font-weight: bold;
}*/

.Select.is-disabled > .Select-control {
  background-color: #eaedf0;
}
.Select-control {
  border-color: #ced4da;
}
.Select--multi.is-disabled .Select-value {
  border-color: #d5d8dc;
}